.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  grid-area: navbar;
  margin-buttom: 2em;
  margin-top: -3em;
}

.navbar__searchbox input {
  border-radius: 8px;
  border: none;
  background-color: var(--bg-color);
  opacity: 0.8;
  outline: none;
  color: var(--white);
  font-weight: 500;
  padding: 1rem 0.5rem 1rem 3rem;
  font-size: 0.8em;
  width: 36em;
  margin-bottom: 2.5em;
  text-transform: uppercase;
}

.fa-search {
  position: absolute;
  z-index: 1;
  margin-top: -1.5em;
  color: var(--white);
  transform: translate(100%, -50%);
}

.navbar__button {
  border: none;
  background-color: var(--yellow);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  padding: 10px 3px;
  width: 130px;
  cursor: pointer;
}

.navbar__button:hover {
  background-color: var(--btn-yellow-hover);
}

.navbar__useravatar__photo {
  position: relative;
  left: 10px;
  top: 18px;
  border-radius: 50%;
  width: 50px;
  border: none;
  margin-top: 12px;
}

@media all and (min-width: 1200px) {
  .navbar {
    margin-top: -1em;
  }

  .navbar__button {
    position: relative;
    bottom: 3.7em;
  }

  .navbar__searchbox input {
    position: relative;
    bottom: 3rem;
    margin-top: 0.1em;
    min-width: 240px;
  }

  .navbar__useravatar__photo {
    position: relative;
    left: 1em;
    margin-bottom: 3em;
    margin-top: -2rem;
    margin-right: 1em;
  }
}

@media screen and(max-height: 450px) {
  .navbar__searchbox input {
    position: relative;
    bottom: 500px;
    margin-top: 4em;
    width: 220px;
    margin-left: 0.45em;
  }
}

/* @media all and (max-width: 920px) {
  .navbar__button {
    margin-top: 12px;
    position: relative;
  }

  .navbar__searchbox input {
    width: 240px;
  }
}

@media all and (max-width: 710px) {
  .navbar__useravatar__photo {
    display: none;
  }

  .navbar__button {
    margin-bottom: 30px;
  }

  .navbar {
    flex-direction: column;
  }
} */
