.page {
  margin-left: 250px;
  padding: 20px;
  display: inline-block;
}

.page__content {
  width: 70vw;
  grid-area: pagesidebar;
}

.page__header__title {
  color: var(--white);
  font-weight: 700;
  margin-top: -20px;
}

.page__header__subtitle {
  color: var(--gray);
  font-size: 14px;
  font-weight: 400;
  margin-top: -20px;
  padding: 5px;
}
