.sidebar {
  height: 100%;
  width: -0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--bg-color);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar .close__btn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidebar--active {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--bg-color);
  height: calc(100vh - 16px);
  padding: 16px 0 10px 32px;
  color: var(--white);
  display: flex;
  max-width: 200px;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  z-index: 1;
}

.sidebar__btn {
  border: none;
  display: flex;
  position: relative;
  left: 164px;
  background: none;
  color: var(--white);
}

.sidebar__btn:hover {
  color: var(--yellow);
}

.sidebar__title__img {
  width: 120px;
}

.sidebar__menu {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.sidebar__button {
  text-align: left;
  background: none;
  border: none;
  color: gray;
  font-weight: bold;
  padding: 0;
  margin: 8px 0;
}

.sidebar__button--selected {
  color: var(--yellow);
}

.sidebar__button:focus > .selected-indicator {
  border-right: 3px var(--yellow) solid;
  border-radius: 5px;
  width: 1px;
  box-shadow: 1px 0 4px rgba(255, 255, 255, 60%);
  position: relative;
  right: 33px;
}

.sidebar__button:focus {
  color: var(--yellow);
  cursor: pointer;
  transtion: 0.3s;
}

.sidebar__button--logout {
  margin-top: auto;
  margin-bottom: 1.2em;
}

#btn__display button {
  background-color: var(--yellow);
  border: none;
  width: 150px;
  padding: 4px;
  border-radius: 1em;
  margin-left: 2.5em;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
